* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.section-container {
  display: grid;
  width: 55%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-bottom: 3.2rem;
}

.container {
  padding: 3.6rem;
}

.heading {
  font-family: "Big Shoulders Display", sans-serif, cursive;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  margin-bottom: 2.4rem;
}
.text-description {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.07rem;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 1.1px;
  margin-bottom: 8rem;
}
.icon {
  height: 4.4rem;
  width: 6.4rem;
  margin-bottom: 2.4rem;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: none;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.btn:active {
  background-color: inherit;
  color: hsla(0, 0%, 100%, 0.75);
  border: 2px solid hsla(0, 0%, 100%, 0.75);
}

.btn--1 {
  color: hsl(31, 77%, 52%);
}
.btn--2 {
  color: hsl(184, 100%, 22%);
}
.btn--3 {
  color: hsl(179, 100%, 13%);
}

.container--col-1 {
  background-color: hsl(31, 77%, 52%);
}

.container--col-2 {
  background-color: hsl(184, 100%, 22%);
}

.container--col-3 {
  background-color: hsl(179, 100%, 13%);
}

.footer {
  font-size: 2rem;
  color: #777;
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    height: 150rem;
    flex-direction: column;
    justify-content: start;
  }
  .section-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    height: auto;
    margin-top: 4rem;
  }

  .icon {
    height: 4.4rem;
  }
}

@media (min-width: 768px) and (max-width: 791px) {
  .section-container {
    width: 90%;
  }
  .text-description {
    margin-bottom: 5rem;
  }
}

@media (min-width: 792px) and (max-width: 870px) {
  .section-container {
    width: 95%;
  }
  .text-description {
    margin-bottom: 4rem;
  }
}

@media (min-width: 871px) and (max-width: 973px) {
  .section-container {
    width: 85%;
  }
  .text-description {
    margin-bottom: 4rem;
  }
}

@media (min-width: 974px) and (max-width: 1047px) {
  .section-container {
    width: 95%;
  }
  .text-description {
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 1048px) and (max-width: 1181px) {
  .section-container {
    width: 70%;
  }
  .text-description {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1181px) and (max-width: 1326px) {
  .section-container {
    width: 75%;
  }
}

@media (min-width: 1326px) and (max-width: 1600px) {
  .section-container {
    width: 80%;
  }
}
